/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
		-fx-background-color:"#2a2e37";
		-fx-font-family:'Comic Sans MS';
		-fx-font-size:15px;

}


Label{

-fx-text-fill:"#b2b2b2";
-fx-font-family:'Comic Sans MS';
-fx-font-size:15px;

}

.jfx-text-area{
-fx-text-fill:"#b2b2b2";

}
.jfx-text-field{
-fx-text-fill:"#b2b2b2";
-fx-prompt-text-fill:"#b2b2b2";

}

.jfx-button{
	-fx-background-radius:5;
	-fx-background-color:"transparent";
	-fx-text-fill:"white";
	 -jfx-button-type:RAISED;
   -fx-font-family:'Comic Sans MS';
   -fx-font-size:15px;
   -fx-border-color:"#ffff8d";
    -fx-border-radius: 20px;
 


}
.jfx-list-view{
 	-fx-background-radius:5;
 	-fx-background-color:"#2a2e37";



 }


VBox{
-fx-background-color:"#2a2e37";



}
.jfx-slider  .slider-value{
-fx-background-color:"white";
}
.jfx-slider > .animated-thumb{
-fx-background-color:"red";
}
.jfx-slider > .thumb{
-fx-background-color:"white";
}

.jfx-slider > .colored-track{
-fx-background-color:"black";
}
.jfx-slider >.track{
	 -fx-pref-width: 70px;
	 -fx-pref-height: 2px;
	-fx-background-color:"red";
}
Text{
-fx-text-fill:"white";
-fx-font-size: 12pt;
}
HBox{
	-fx-background-color:"#2a2e37";

}
.BorderPane{
	-fx-background-color:"#2a2e37";
}
